USE [master]
GO
/****** Object:  Database [QuanLyNhaPhanPhoi_K235480106046]    Script Date: 4/28/2026 8:12:24 PM ******/
CREATE DATABASE [QuanLyNhaPhanPhoi_K235480106046]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaPhanPhoi_K235480106046', FILENAME = N'E:\Ky_3_nam3\Hequantri_CSDL\BaiTap\Baiktraso2\QuanLyNhaPhanPhoi_K235480106046.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaPhanPhoi_K235480106046_log', FILENAME = N'E:\Ky_3_nam3\Hequantri_CSDL\BaiTap\Baiktraso2\QuanLyNhaPhanPhoi_K235480106046_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaPhanPhoi_K235480106046].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaPhanPhoi_K235480106046]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_tongtiendonhang]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <26-04-2026>
-- Description:	<Tính tổng tiền DonHang>
-- =============================================
CREATE FUNCTION [dbo].[fn_tongtiendonhang] (@MaDH nvarchar(10)) 
RETURNS decimal(14,2)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @TongTien decimal(14,2);

	-- Add the T-SQL statements to compute the return value here
	SELECT @TongTien = sum(SoLuong*DonGia) From ChiTietDonhang
	WHERE MaDH=@MaDH;

	-- Return the result of the function
	RETURN ISNULL(@TongTien,0.00)

END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XeploaiNhaPhanPhoi]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <26-04-2026>
-- Description:	<Xếp loại nhà phân phối>
-- =============================================
CREATE FUNCTION [dbo].[fn_XeploaiNhaPhanPhoi]
(
	-- Add the parameters for the function here
)
RETURNS 
@BangXepLoai TABLE 
(
	-- Add the column definitions for the TABLE variable here
	MaNPP nvarchar(10),
	TenNPP nvarchar(100),
	TongTien decimal(14,2),
	ThuTu int,
	PhanLoai nvarchar(50)
)
AS
BEGIN
	-- Fill the table variable with the rows for your result set
	-- Bước 1: Chèn dữ liệu tính toán tổng tiền và xếp thứ tự vào biến bảng
    INSERT INTO @BangXepLoai (MaNPP, TenNPP, TongTien, ThuTu)
    SELECT 
        npp.MaNPP, 
        npp.TenNPP, 
        ISNULL(SUM(dh.TongTien), 0) as TongTien,
        ROW_NUMBER() OVER (ORDER BY ISNULL(SUM(dh.TongTien), 0) DESC) -- Xếp hạng từ cao xuống thấp
    FROM NhaPhanPhoi npp
    LEFT JOIN DonHang dh ON npp.MaNPP = dh.MaNPP
    GROUP BY npp.MaNPP, npp.TenNPP;

    -- Bước 2: Gán nhãn "Nhà phân phối VIP"
    UPDATE @BangXepLoai
    SET PhanLoai = CASE 
        WHEN TongTien > 1000000000 THEN N'Nhà phân phối VIP'
        WHEN TongTien > 0 THEN N'Đối tác thường'
        ELSE N'Chưa có giao dịch'
    END;
	RETURN 
END
GO
/****** Object:  Table [dbo].[NhaPhanPhoi]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaPhanPhoi](
	[MaNPP] [nvarchar](10) NOT NULL,
	[TenNPP] [nvarchar](100) NOT NULL,
	[MaSoThue] [varchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[NgayHopTac] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Rank] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNPP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhsachNhaPhanPhoi]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <26-04-2026>
-- Description:	<Lọc dữ liệu bảng NhaPhanPhoi>
-- =============================================
CREATE FUNCTION [dbo].[fn_DanhsachNhaPhanPhoi] 
(	
	-- Add the parameters for the function here
	@TrangThai1 nvarchar(50),
	@TrangThai2 nvarchar(50)
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT * FROM NhaPhanPhoi
	WHERE TrangThai IN (@TrangThai1, @TrangThai2)
)
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaCT] [nvarchar](10) NOT NULL,
	[MaDH] [nvarchar](10) NULL,
	[MaSP] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDH] [nvarchar](10) NOT NULL,
	[MaNPP] [nvarchar](10) NULL,
	[NgayDat] [date] NULL,
	[TongTien] [decimal](14, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](10) NOT NULL,
	[MaNPP] [nvarchar](10) NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](12, 2) NULL,
	[DonVi] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[NgayNhap] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[Voucher] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDonHang] ([MaCT], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT001', N'DH001', N'SP001', 100, CAST(145000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCT], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT002', N'DH002', N'SP002', 150, CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaCT], [MaDH], [MaSP], [SoLuong], [DonGia]) VALUES (N'CT003', N'DH003', N'SP003', 25, CAST(50000000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[DonHang] ([MaDH], [MaNPP], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH001', N'CS001', CAST(N'2025-04-20' AS Date), CAST(34500000.00 AS Decimal(14, 2)), N'Đã thanh toán')
INSERT [dbo].[DonHang] ([MaDH], [MaNPP], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH002', N'CS002', CAST(N'2025-08-06' AS Date), CAST(30000000.00 AS Decimal(14, 2)), N'Đã thanh toán')
INSERT [dbo].[DonHang] ([MaDH], [MaNPP], [NgayDat], [TongTien], [TrangThai]) VALUES (N'DH003', N'CS003', CAST(N'2026-04-15' AS Date), CAST(3750000000.00 AS Decimal(14, 2)), N'Chờ xử lý')
GO
INSERT [dbo].[NhaPhanPhoi] ([MaNPP], [TenNPP], [MaSoThue], [DiaChi], [Email], [SoDienThoai], [NgayHopTac], [TrangThai], [Rank]) VALUES (N'CS001', N'Tổng kho gia dụng Lạc Thành', N'0101234567', N'An Dương, Lạc Thành', N'Lacthanhgd@gmail.com', N'0922765481', CAST(N'2025-04-02' AS Date), N'Đang hợp tác', N'Thường')
INSERT [dbo].[NhaPhanPhoi] ([MaNPP], [TenNPP], [MaSoThue], [DiaChi], [Email], [SoDienThoai], [NgayHopTac], [TrangThai], [Rank]) VALUES (N'CS002', N'Công ty TNHH điện tử Hán Đế', N'0209876543-001', N'Bình Nhưỡng, An Lạc Viên', N'lythienhande@gmail.com', N'0981444799', CAST(N'2024-07-20' AS Date), N'Đang hợp tác', N'Thường')
INSERT [dbo].[NhaPhanPhoi] ([MaNPP], [TenNPP], [MaSoThue], [DiaChi], [Email], [SoDienThoai], [NgayHopTac], [TrangThai], [Rank]) VALUES (N'CS003', N'Công ty điện tử Heniken', N'0401122334', N'Cơ sở 1, Phác Lâm', N'henikenvn@gmail.com', N'0954712826', CAST(N'2026-03-20' AS Date), N'Đang xem xét', N'VIP')
GO
INSERT [dbo].[SanPham] ([MaSP], [MaNPP], [TenSP], [DonGia], [DonVi], [SoLuong], [NgayNhap], [TrangThai], [Voucher]) VALUES (N'SP001', N'CS001', N'Bàn trà', CAST(150000.00 AS Decimal(12, 2)), N'Chiếc', 100, CAST(N'2025-04-20' AS Date), N'Còn nhập', N'VC-SP001-7')
INSERT [dbo].[SanPham] ([MaSP], [MaNPP], [TenSP], [DonGia], [DonVi], [SoLuong], [NgayNhap], [TrangThai], [Voucher]) VALUES (N'SP002', N'CS002', N'Chuột không dây', CAST(250000.00 AS Decimal(12, 2)), N'Chiếc', 200, CAST(N'2025-08-06' AS Date), N'Còn nhập', N'VC-SP002-23')
INSERT [dbo].[SanPham] ([MaSP], [MaNPP], [TenSP], [DonGia], [DonVi], [SoLuong], [NgayNhap], [TrangThai], [Voucher]) VALUES (N'SP003', N'CS003', N'Iphone 17 Pro', CAST(47000000.00 AS Decimal(12, 2)), N'Chiếc', 50, CAST(N'2026-04-15' AS Date), N'Đang xem xét', N'VC-SP003-40')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaPhanP__1E811CB1D1CCC91B]    Script Date: 4/28/2026 8:12:25 PM ******/
ALTER TABLE [dbo].[NhaPhanPhoi] ADD UNIQUE NONCLUSTERED 
(
	[MaSoThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DonHang] ([MaDH])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NhaPhanPhoi] FOREIGN KEY([MaNPP])
REFERENCES [dbo].[NhaPhanPhoi] ([MaNPP])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NhaPhanPhoi]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaPhanPhoi] FOREIGN KEY([MaNPP])
REFERENCES [dbo].[NhaPhanPhoi] ([MaNPP])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaPhanPhoi]
GO
/****** Object:  StoredProcedure [dbo].[usp_BaoCaoGiaoDich]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <27-04-2026>
-- Description:	<Hiển thị thông tin>
-- =============================================
CREATE PROCEDURE [dbo].[usp_BaoCaoGiaoDich]
    @TuNgay date,
    @DenNgay date
AS
BEGIN
    -- Lệnh SELECT join nhiều bảng để trả về một Result Set
    SELECT 
        dh.MaDH,
        dh.NgayDat,
        npp.TenNPP,
        sp.TenSP,
        ct.SoLuong,
        ct.DonGia,
        (ct.SoLuong * ct.DonGia) AS ThanhTien,
        npp.[Rank] 
    FROM DonHang dh
    INNER JOIN NhaPhanPhoi npp ON dh.MaNPP = npp.MaNPP
    INNER JOIN ChiTietDonHang ct ON dh.MaDH = ct.MaDH
    INNER JOIN SanPham sp ON ct.MaSP = sp.MaSP
    WHERE dh.NgayDat BETWEEN @TuNgay AND @DenNgay
    ORDER BY dh.NgayDat DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ChenhLechKho]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <27-04-2026>
-- Description:	<Tính độ lệch hàng hóa>
-- =============================================
CREATE PROCEDURE [dbo].[usp_ChenhLechKho]
    @MaSP nvarchar(10),              -- Tham số Input: Mã sản phẩm cần kiểm tra
    @SoLuongChenhLech int OUTPUT,    -- Tham số Output: Giá trị chênh lệch (Số)
    @ThongBao nvarchar(100) OUTPUT   -- Tham số Output: Câu thông báo trạng thái (Chuỗi)
AS
BEGIN
    DECLARE @SoLuongHienCo int;
    DECLARE @SoLuongDaDat int;

    -- 1. Lấy số lượng đang có trong kho của sản phẩm đó
    SELECT @SoLuongHienCo = SoLuong 
    FROM SanPham 
    WHERE MaSP = @MaSP;

    -- 2. Tính tổng số lượng đã được đặt trong các chi tiết đơn hàng
    SELECT @SoLuongDaDat = ISNULL(SUM(SoLuong), 0) 
    FROM ChiTietDonHang 
    WHERE MaSP = @MaSP;

    -- 3. Tính toán sự chênh lệch và gán vào tham số OUTPUT
    SET @SoLuongChenhLech = @SoLuongHienCo - @SoLuongDaDat;

    -- 4. Logic kiểm tra để trả về câu thông báo trạng thái
    IF @SoLuongChenhLech > 0
        SET @ThongBao = N'Kho còn dư hàng';
    ELSE IF @SoLuongChenhLech = 0
        SET @ThongBao = N'Hàng vừa đủ cung cấp';
    ELSE
        SET @ThongBao = N'Đang thiếu hụt hàng trong kho';
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_XepLoaiNPP]    Script Date: 4/28/2026 8:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Hoàng Nhất Long>
-- Create date: <27-04-2026>
-- Description:	<Tạo cột rank>
-- =============================================
CREATE PROCEDURE [dbo].[usp_XepLoaiNPP] 
AS
BEGIN
	-- Add the parameters for the stored procedure here
    -- BƯỚC 1: Cập nhật dữ liệu Rank dựa trên doanh số
    -- Chúng ta sử dụng một CTE (bảng tạm thời) để tính toán trước
    ;WITH DoanhSo_CTE AS (
        SELECT 
            npp.MaNPP,
            ISNULL(SUM(dh.TongTien), 0) AS TongDoanhSo
        FROM NhaPhanPhoi npp
        LEFT JOIN DonHang dh ON npp.MaNPP = dh.MaNPP
        GROUP BY npp.MaNPP
    )
    UPDATE npp
    SET npp.[Rank] = CASE 
                        WHEN cte.TongDoanhSo > 1000000000 THEN 'VIP'
                        ELSE N'Thường'
                     END
    FROM NhaPhanPhoi npp
    JOIN DoanhSo_CTE cte ON npp.MaNPP = cte.MaNPP;
    -- BƯỚC 2: Hiển thị bảng xếp hạng từ cao xuống thấp để kiểm tra
    SELECT 
        npp.MaNPP,
        npp.TenNPP,
        ISNULL(SUM(dh.TongTien), 0) AS TongTienBan,
        npp.[Rank],
        ROW_NUMBER() OVER (ORDER BY ISNULL(SUM(dh.TongTien), 0) DESC) AS ThuTu
    FROM NhaPhanPhoi npp
    LEFT JOIN DonHang dh ON npp.MaNPP = dh.MaNPP
    GROUP BY npp.MaNPP, npp.TenNPP, npp.[Rank]
    ORDER BY ThuTu ASC;
    PRINT N'Đã hoàn thành xếp hạng và phân loại nhà phân phối.';
END
GO
USE [master]
GO
